.crud
{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.crud Button
{
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
    width: 15%;
}

.iconPlus, .iconPen, .iconDelete 
{
    margin-left: 10px;
}

.CRUDBtn
{
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}