.adminPage
{
    height: 80%;
    color: white;
    font-size: 10vh;
    width: 100%;
    padding: 5%;
    margin: 10% 0px 10% 0px;
    text-decoration: underline;
}

.admin 
{
    display: flex;
    height: 100vh;
}

.adminSideBar 
{
    z-index: 1;
    width: 20%;
    background: linear-gradient(60deg, rgb(110, 8, 130), rgb(34, 11, 163));
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.3);
}


.adminSideBar h1 
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.adminSideBar button 
{
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    width: 100%;
}

.adminContent 
{
    height: auto;
    width: 80%;
    flex-grow: 1;
    padding: 20px;
    background: linear-gradient(60deg, rgb(34, 11, 163), rgb(146, 9, 146))
}

.adminContent h2
{
    text-decoration: underline;
    color: white;
}

.adminLogout
{
    margin-top: auto;
}