.cart-container {
    background-color: #d3c478;
    padding: 16px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    /* background-color: #f9f5d9; */
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(213, 213, 213);
    transition: transform 0.3s ease;
}

.cart-item:hover
{
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item:last-child
{
    margin-bottom: 0px;
}

.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 8px;
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.cart-item-details h5 {
    font-size: 1rem;
    margin: 0;
}

.cart-item-details p
{
    color: red;
    margin: 0px
}

.cart-item-description {
    font-size: 0.85rem;
    color: #666;
    margin: 4px 0 0;
}

.cart-item-price {
    color: #333;
    font-size: 0.9rem;
}

.quantity-controls {
    display: flex;
    align-items: center;
    /* margin-top: 8px; */
}

.quantity-controls button {
    width: 28px;
    height: 28px;
    background-color: inherit;
    border: none;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.quantity-controls span
{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(213, 213, 213);
    width: 30px;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 0.8rem;
}

.cartItemButton
{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.remove-button {
    background-color: #ce0000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8rem;
}

.remove-button:hover
{
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.buy-button:hover
{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 255, 0);
}

.buy-button
{
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8rem;
}

.orderButton
{
    transition: transform 0.3s ease;
    border: none;
}

.orderButton:hover
{
    background-color: rgb(0, 255, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
