
footer
{
    background-color: black;
    margin-top: auto;
    width: 100%;
    height: auto;
}

.upRow
{
    height: 200px;
    display: flex;
}

/* .footerLogo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vh;
    border-right: 1px solid rgb(0, 0, 0);
    padding: 20px;
}

.footerLogo button
{
    border: none;
    background-color: inherit;
}

.footerLogo button img
{
    width: 100%;
} */

.footerContent
{
    padding: 30px;
    width: 100%;
}

.contactIcons
{
    height: 65%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.contactIcons span
{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    margin: 0px 15px 0px 15px;
}

.footerIcons
{
    width: 30px;
    height: 30px;
    padding: 9px;
}

.footerIcons:hover
{
    cursor: pointer;
}

.footerTaskBar
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.footerTaskBar p
{
    margin: 0px 15px 0px 15px;
    font-size: 13px;
}

.footerTaskBar h5
{
    margin: 0px 25px 0px 25px;
}

.footer-link
{
    color: white;
    text-decoration: none;
}

.copyright
{
    border-top: 1px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
    height: auto;
    padding: 5px;
    font-size: 14px;
}
