
footer
{
    background-color: rgb(243, 243, 243);
    /* background: linear-gradient(to top,rgb(0, 32, 0), rgb(0, 85, 0), rgb(0, 126, 0)); */
    margin-top: auto;
    width: 100%;
    height: auto;
}

.upRow
{
    height: 200px;
    display: flex;
}

.footerLogo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vh;
    border-right: 1px solid rgb(197, 197, 197);
    padding: 20px;
}

.footerLogo button
{
    border: none;
    background-color: inherit;
}

.footerLogo button img
{
    width: 100%;
}

.footerContent
{
    padding: 30px;
    width: 85%;
}

.contactIcons
{
    height: 65%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.contactIcons span
{
    border: 1px solid rgb(197, 197, 197);
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    margin: 0px 15px 0px 15px;
}

.footerIcons
{
    width: 30px;
    height: 30px;
    padding: 9px;
}

.footerIcons:hover
{
    cursor: pointer;
}

.footerTaskBar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.footerTaskBar p
{
    margin: 0px 15px 0px 15px;
    font-size: 13px;
}

.footerTaskBar h5
{
    margin: 0px 25px 0px 25px;
}

.copyright
{
    border-top: 1px solid rgb(197, 197, 197);
    text-align: center;
    height: auto;
    padding: 5px;
    font-size: 14px;
}