body
{
    font-family: 'Arial Nova', Arial, sans-serif;
}

::-webkit-scrollbar 
{
    width: 4px;  
}
  
::-webkit-scrollbar-track 
{
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb 
{
    background: #888;
    border-radius: 50%;
}
  
::-webkit-scrollbar-thumb:hover 
{
    background: #333333;
}
