.taskBar
{
    background-color: rgb(243, 243, 243);
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.logo
{
    margin-right: 10px;
    width: auto;
    height: auto;
    border: none;
    background-color: inherit;
}

.logo img
{
    width: 20vh;
    height: 9vh;
}

.logo:hover
{
    cursor: pointer;
}

.function
{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0px 5% 0px 5%;
}

.function input 
{
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    width: 400px;
    height: 5vh;
    outline: none;
    padding: 0 10px;
    border-radius: 20px;
    transition: border-color 0.3s , background-color 0.3s ease; 
}

.function input:hover 
{
    box-shadow: 0 2px 5px rgb(175, 175, 175);
}

/* Buttons */
.TaskBarButton
{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.signInButton, .signUpButton, .searchButton, .Menu, .MsignInButton, .MsignUpButton
{
    border: none;
    border-bottom: 1px solid black;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 10px;
    transition: border-color 0.3s , background-color 0.2s;
}

.MsignInButton, .MsignUpButton
{
    position: relative;
    margin-top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}

.searchButton
{
    width: 5vh;
    border-radius: 20px;
    font-size: large;
}

.Menu
{
    font-size: larger;
    width: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton:hover, .signInButton:hover, .signUpButton:hover, .Menu:hover, .MsignInButton:hover, .MsignUpButton:hover
{
    border: none;
    border-bottom: 1px solid white;
    box-shadow: 0 2px 5px gray;
    background-color: white;
    color: black;
}

.modal-title
{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}