.taskBar
{
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 10px 0px 10px 0px;
    /* border: 1px solid rgb(207, 207, 207);
    border-left: none;
    border-right: none; */
    display: flex;
    justify-content: space-around;
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.taskBar input 
{
    font-size: 1.2rem;
    width: 400px;
    height: 5vh;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0 10px;
    border-radius: 20px;
    transition: border-color 0.3s ease, background-color 0.3s ease; 
}

.taskBar input:hover 
{
    box-shadow: 0 2px 5px rgb(175, 175, 175);
}


.SignButton 
{
    display: flex;
    gap: 10px;
}

.signInButton, .signUpButton, .searchButton, .Menu
{
    border: 1px solid white;
    height: 5.5vh;
    background-color: black;
    color: white;
    font-size: medium;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.searchButton
{
    width: 5.5vh;
    border-radius: 20px;
    font-size: large;
}

.Menu
{
    font-size: larger;
    width: 6vh;
}

.searchButton:hover, .signInButton:hover, .signUpButton:hover, .Menu:hover
{
    border: 1px solid black;
    box-shadow: 0 2px 5px gray;
    background-color: white;
    color: black;
}